Source: samplepkg
Maintainer: Takanari Kou <takou@zlab.co.jp>
Build-Depends: cdbs, debhelper
Standards-Version: 1.0.0

Package: samplepkg
Architecture: all
Description: this package was created for learning debian package system

