Source: samplepkg
Section: devel
Priority: optional
Maintainer: Takanari Ko <takou@zlab.co.jp>
Build-Depends: cdbs,
          debhelper(>=9)
Standards-Version: 3.9.5

Package: samplepkg
Architecture: all
Depends: ${misc:Depends}
Description: Sample package
	This package was created for learning debian package system

