Source: samplepkg
Maintainer: Takanari Ko <takou@zlab.co.jp>
Build-Depends: cdbs, debhelper
Standards-Version: 3.9.5

Package: samplepkg
Architecture: all
Description: Sample package
	This package was created for learning debian package system

